@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html { color-scheme: light; }
html.dark { color-scheme: dark; }

@supports (padding-top: env(safe-area-inset-top)) {
  #root {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
